public class Q1 {
 
		public static void main ( String [] args)
		
		{  	int a = 3 * (1+333) * 333 / 2 ;
			int b = 5 * (1+199) * 199 / 2 ;
			int c = 15 * (1+66) *66 /2 ;
			int sum = a + b -c ;
			
		System.out.println(sum);
